* {
    margin: 0;
    padding: 0;
  }
  #container {
    top: 0;
    /* margin-bottom: 50px; */
    left: 0;
    border: 2px solid black;
    width: 100%;
    position: absolute;
    height: auto;
  }
  #myImage {
    width: 100%;
    height: auto;
    touch-action: none;
  }