* {
    margin: 0;
    padding: 0;
}

#myElement {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background-color: #7486d6;
    /* border: blueviolet solid 3px; */
    /* padding-left: 10px;
    margin-left: 40px; */
    transform: translateX(0px) translateY(0px) scale(2);
    transform-origin: 50% 50%;
    /* transform: scale(1); */
}

#myElement2 {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background-color: #e05eb5;
    /* border: blueviolet solid 3px; */
    /* padding-left: 10px;
    margin-left: 40px; */
    /* transform: translateX(100px) translateY(0px) scale(1.5); */
    /* transform: scale(1); */
}

p {
    touch-action: none;
    pointer-events: none;
    user-select: none;
}