




.pinch-zoom-parent {
  height: 800px;
  width: 100%;
  background-color:tomato
}

img {
  width: 100%;

}

div.pinch-zoom div.description h1 {
  font-size: 40px;
  margin: 0px;
  margin-bottom: 10px;
}

div.pinch-zoom div.description p {
  margin-bottom: 1em;
}


*{
  margin: 0;
  padding: 0;
}
